<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
  
</head>
<body>
    @RenderPage("_Header.cshtml")

    @RenderBody()
    <hr/>
    @RenderPage("_Footer.cshtml")
</body>
</html>
